@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbfbfb;
  --foreground: #262626;
  --primary: #54bdcb;
  --primary-foreground: #f0fbfb;
  --accent: #f6f6f6;
  --accent-foreground: #3d3d3d;
  --border: #5d5d5d;
  --destructive: #e5341d;

  --radius: 1rem;

  --shad-background: var(--background);
  --shad-foreground: var(--foreground);
  --shad-card: var(--background);
  --shad-card-foreground: var(--foreground);
  --shad-popover: var(--background);
  --shad-popover-foreground: var(--foreground);
  --shad-primary: var(--primary);
  --shad-primary-foreground: var(--primary-foreground);
  --shad-secondary: var(--accent);
  --shad-secondary-foreground: var(--accent-foreground);
  --shad-muted: var(--accent);
  --shad-muted-foreground: var(--border);
  --shad-accent: var(--accent);
  --shad-accent-foreground: var(--accent-foreground);
  --shad-destructive: var(--destructive);
  --shad-destructive-foreground: var(--background);
  --shad-border: var(--border);
  --shad-input: var(--border);
  --shad-ring: var(--primary);
}

.dark {
  --background: #262626;
  --foreground: #fbfbfb;
  --primary-foreground: #132f39;
  --accent-foreground: #e7e7e7;
  --accent: #3d3d3d;
  --border: #888888;
  --shad-destructive-foreground: var(--foreground);
}

@layer base {
  * {
    @apply border-border;
  }
  :root {
    @apply bg-background text-foreground;
  }
}
